body{

}

#particles-js{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index:-2;
  height:100%;
  position: fixed;
  width:100%;
}
.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar, .nav-links, .link{
    text-shadow: 2px 2px black;
    color:white;
}
.nav-links{
    display: block;
    padding: .5rem 1rem;
}

.link{
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.card{
    text-shadow: 2px 2px black;
    background: transparent;
    border:none;
    color:white
}

a:hover{
    color: orange ;
    text-decoration: none
}
